<div class="header">
  <a href="#default" class="logo">NoteOnline</a>
</div>
<div class="parent" style="margin-top:1% ;">
    <div class="section yellow">
        <form >
            <label for="id">ID</label>
            <input type="text" name="id" [(ngModel)]="currentNote.id"/>
            <label for="title">Title</label>
            <input type="text" name="title" [(ngModel)]="currentNote.title"/>
            <label for="content">Content</label>
            <input type="text" name="content" [(ngModel)]="currentNote.content"/>
            <button (click)="addNote()">ADD</button>
        </form>
    </div>
    <div class="verticalLine">
      <div class="section purple" >
        <div *ngFor="let note of note$ | async" style="flex-direction: column;">
          {{note.id}} -
          {{note.title}} -
          {{note.content}}
          <button (click)="deleteNote()">DELETE</button>
          <button (click)="updateNote()">Update</button>
        </div>
      </div>
    </div>
</div>